LibraryProject/LibraryApp/Connected Services/LibraryServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55459/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55459/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55459/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LibraryApp.DataModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_MemberRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:MemberRegister" />
  </wsdl:message>
  <wsdl:message name="IService_MemberRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:MemberRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IService_MemberLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:MemberLogin" />
  </wsdl:message>
  <wsdl:message name="IService_MemberLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:MemberLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ClientList_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientList" />
  </wsdl:message>
  <wsdl:message name="IService_ClientList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditMember_InputMessage">
    <wsdl:part name="parameters" element="tns:EditMember" />
  </wsdl:message>
  <wsdl:message name="IService_EditMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteMember_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMember" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IService_BooksList_InputMessage">
    <wsdl:part name="parameters" element="tns:BooksList" />
  </wsdl:message>
  <wsdl:message name="IService_BooksList_OutputMessage">
    <wsdl:part name="parameters" element="tns:BooksListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditBook_InputMessage">
    <wsdl:part name="parameters" element="tns:EditBook" />
  </wsdl:message>
  <wsdl:message name="IService_EditBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditBookResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddBranch_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBranch" />
  </wsdl:message>
  <wsdl:message name="IService_AddBranch_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBranchResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ViewBranches_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewBranches" />
  </wsdl:message>
  <wsdl:message name="IService_ViewBranches_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewBranchesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditBranch_InputMessage">
    <wsdl:part name="parameters" element="tns:EditBranch" />
  </wsdl:message>
  <wsdl:message name="IService_EditBranch_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditBranchResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteBranch_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBranch" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteBranch_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBranchResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddBook_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBook" />
  </wsdl:message>
  <wsdl:message name="IService_AddBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBookResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetClient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClient" />
  </wsdl:message>
  <wsdl:message name="IService_GetClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddBookInBranch_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBookInBranch" />
  </wsdl:message>
  <wsdl:message name="IService_AddBookInBranch_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBookInBranchResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteBookFromBranch_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBookFromBranch" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteBookFromBranch_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBookFromBranchResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetNoCopiesFromBranch_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNoCopiesFromBranch" />
  </wsdl:message>
  <wsdl:message name="IService_GetNoCopiesFromBranch_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNoCopiesFromBranchResponse" />
  </wsdl:message>
  <wsdl:message name="IService_BorrowBookFromBranch_InputMessage">
    <wsdl:part name="parameters" element="tns:BorrowBookFromBranch" />
  </wsdl:message>
  <wsdl:message name="IService_BorrowBookFromBranch_OutputMessage">
    <wsdl:part name="parameters" element="tns:BorrowBookFromBranchResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReturnBookFromBranch_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBookFromBranch" />
  </wsdl:message>
  <wsdl:message name="IService_ReturnBookFromBranch_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBookFromBranchResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetBooksFromBranch_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksFromBranch" />
  </wsdl:message>
  <wsdl:message name="IService_GetBooksFromBranch_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksFromBranchResponse" />
  </wsdl:message>
  <wsdl:message name="IService_BranchesForBook_InputMessage">
    <wsdl:part name="parameters" element="tns:BranchesForBook" />
  </wsdl:message>
  <wsdl:message name="IService_BranchesForBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:BranchesForBookResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetQuantityOfBook_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuantityOfBook" />
  </wsdl:message>
  <wsdl:message name="IService_GetQuantityOfBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuantityOfBookResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetLibraryFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLibraryFiles" />
  </wsdl:message>
  <wsdl:message name="IService_GetLibraryFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLibraryFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddLibraryFile_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLibraryFile" />
  </wsdl:message>
  <wsdl:message name="IService_AddLibraryFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLibraryFileResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetBorrowedBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBorrowedBooks" />
  </wsdl:message>
  <wsdl:message name="IService_GetBorrowedBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBorrowedBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RenewDueDate_InputMessage">
    <wsdl:part name="parameters" element="tns:RenewDueDate" />
  </wsdl:message>
  <wsdl:message name="IService_RenewDueDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:RenewDueDateResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReturnBook_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBook" />
  </wsdl:message>
  <wsdl:message name="IService_ReturnBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBookResponse" />
  </wsdl:message>
  <wsdl:message name="IService_IsReturned_InputMessage">
    <wsdl:part name="parameters" element="tns:IsReturned" />
  </wsdl:message>
  <wsdl:message name="IService_IsReturned_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsReturnedResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetBookHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookHistory" />
  </wsdl:message>
  <wsdl:message name="IService_GetBookHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetReports_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReports" />
  </wsdl:message>
  <wsdl:message name="IService_GetReports_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetMoreInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMoreInformation" />
  </wsdl:message>
  <wsdl:message name="IService_GetMoreInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMoreInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_IsValidUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:IsValidUsername" />
  </wsdl:message>
  <wsdl:message name="IService_IsValidUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsValidUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IService_IsDesired_InputMessage">
    <wsdl:part name="parameters" element="tns:IsDesired" />
  </wsdl:message>
  <wsdl:message name="IService_IsDesired_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsDesiredResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="MemberRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/MemberRegister" message="tns:IService_MemberRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/MemberRegisterResponse" message="tns:IService_MemberRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MemberLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/MemberLogin" message="tns:IService_MemberLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/MemberLoginResponse" message="tns:IService_MemberLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClientList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ClientList" message="tns:IService_ClientList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ClientListResponse" message="tns:IService_ClientList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EditMember" message="tns:IService_EditMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EditMemberResponse" message="tns:IService_EditMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteMember" message="tns:IService_DeleteMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteMemberResponse" message="tns:IService_DeleteMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BooksList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/BooksList" message="tns:IService_BooksList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/BooksListResponse" message="tns:IService_BooksList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EditBook" message="tns:IService_EditBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EditBookResponse" message="tns:IService_EditBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBranch">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddBranch" message="tns:IService_AddBranch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddBranchResponse" message="tns:IService_AddBranch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewBranches">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ViewBranches" message="tns:IService_ViewBranches_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ViewBranchesResponse" message="tns:IService_ViewBranches_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditBranch">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EditBranch" message="tns:IService_EditBranch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EditBranchResponse" message="tns:IService_EditBranch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBranch">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteBranch" message="tns:IService_DeleteBranch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteBranchResponse" message="tns:IService_DeleteBranch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddBook" message="tns:IService_AddBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddBookResponse" message="tns:IService_AddBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetClient" message="tns:IService_GetClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetClientResponse" message="tns:IService_GetClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBookInBranch">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddBookInBranch" message="tns:IService_AddBookInBranch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddBookInBranchResponse" message="tns:IService_AddBookInBranch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBookFromBranch">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteBookFromBranch" message="tns:IService_DeleteBookFromBranch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteBookFromBranchResponse" message="tns:IService_DeleteBookFromBranch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNoCopiesFromBranch">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetNoCopiesFromBranch" message="tns:IService_GetNoCopiesFromBranch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetNoCopiesFromBranchResponse" message="tns:IService_GetNoCopiesFromBranch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BorrowBookFromBranch">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/BorrowBookFromBranch" message="tns:IService_BorrowBookFromBranch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/BorrowBookFromBranchResponse" message="tns:IService_BorrowBookFromBranch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnBookFromBranch">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReturnBookFromBranch" message="tns:IService_ReturnBookFromBranch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReturnBookFromBranchResponse" message="tns:IService_ReturnBookFromBranch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBooksFromBranch">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetBooksFromBranch" message="tns:IService_GetBooksFromBranch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetBooksFromBranchResponse" message="tns:IService_GetBooksFromBranch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BranchesForBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/BranchesForBook" message="tns:IService_BranchesForBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/BranchesForBookResponse" message="tns:IService_BranchesForBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuantityOfBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetQuantityOfBook" message="tns:IService_GetQuantityOfBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetQuantityOfBookResponse" message="tns:IService_GetQuantityOfBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLibraryFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetLibraryFiles" message="tns:IService_GetLibraryFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetLibraryFilesResponse" message="tns:IService_GetLibraryFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddLibraryFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddLibraryFile" message="tns:IService_AddLibraryFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddLibraryFileResponse" message="tns:IService_AddLibraryFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBorrowedBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetBorrowedBooks" message="tns:IService_GetBorrowedBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetBorrowedBooksResponse" message="tns:IService_GetBorrowedBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RenewDueDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RenewDueDate" message="tns:IService_RenewDueDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RenewDueDateResponse" message="tns:IService_RenewDueDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReturnBook" message="tns:IService_ReturnBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReturnBookResponse" message="tns:IService_ReturnBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsReturned">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/IsReturned" message="tns:IService_IsReturned_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/IsReturnedResponse" message="tns:IService_IsReturned_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetBookHistory" message="tns:IService_GetBookHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetBookHistoryResponse" message="tns:IService_GetBookHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReports">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetReports" message="tns:IService_GetReports_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetReportsResponse" message="tns:IService_GetReports_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMoreInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetMoreInformation" message="tns:IService_GetMoreInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetMoreInformationResponse" message="tns:IService_GetMoreInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsValidUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/IsValidUsername" message="tns:IService_IsValidUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/IsValidUsernameResponse" message="tns:IService_IsValidUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsDesired">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/IsDesired" message="tns:IService_IsDesired_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/IsDesiredResponse" message="tns:IService_IsDesired_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MemberRegister">
      <soap:operation soapAction="http://tempuri.org/IService/MemberRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberLogin">
      <soap:operation soapAction="http://tempuri.org/IService/MemberLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientList">
      <soap:operation soapAction="http://tempuri.org/IService/ClientList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditMember">
      <soap:operation soapAction="http://tempuri.org/IService/EditMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMember">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BooksList">
      <soap:operation soapAction="http://tempuri.org/IService/BooksList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditBook">
      <soap:operation soapAction="http://tempuri.org/IService/EditBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBranch">
      <soap:operation soapAction="http://tempuri.org/IService/AddBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewBranches">
      <soap:operation soapAction="http://tempuri.org/IService/ViewBranches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditBranch">
      <soap:operation soapAction="http://tempuri.org/IService/EditBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBranch">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <soap:operation soapAction="http://tempuri.org/IService/AddBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClient">
      <soap:operation soapAction="http://tempuri.org/IService/GetClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBookInBranch">
      <soap:operation soapAction="http://tempuri.org/IService/AddBookInBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBookFromBranch">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteBookFromBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNoCopiesFromBranch">
      <soap:operation soapAction="http://tempuri.org/IService/GetNoCopiesFromBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrowBookFromBranch">
      <soap:operation soapAction="http://tempuri.org/IService/BorrowBookFromBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnBookFromBranch">
      <soap:operation soapAction="http://tempuri.org/IService/ReturnBookFromBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooksFromBranch">
      <soap:operation soapAction="http://tempuri.org/IService/GetBooksFromBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BranchesForBook">
      <soap:operation soapAction="http://tempuri.org/IService/BranchesForBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuantityOfBook">
      <soap:operation soapAction="http://tempuri.org/IService/GetQuantityOfBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLibraryFiles">
      <soap:operation soapAction="http://tempuri.org/IService/GetLibraryFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLibraryFile">
      <soap:operation soapAction="http://tempuri.org/IService/AddLibraryFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBorrowedBooks">
      <soap:operation soapAction="http://tempuri.org/IService/GetBorrowedBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenewDueDate">
      <soap:operation soapAction="http://tempuri.org/IService/RenewDueDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnBook">
      <soap:operation soapAction="http://tempuri.org/IService/ReturnBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsReturned">
      <soap:operation soapAction="http://tempuri.org/IService/IsReturned" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookHistory">
      <soap:operation soapAction="http://tempuri.org/IService/GetBookHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReports">
      <soap:operation soapAction="http://tempuri.org/IService/GetReports" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoreInformation">
      <soap:operation soapAction="http://tempuri.org/IService/GetMoreInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValidUsername">
      <soap:operation soapAction="http://tempuri.org/IService/IsValidUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsDesired">
      <soap:operation soapAction="http://tempuri.org/IService/IsDesired" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:55459/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>