LibraryProject/LibraryApp/Connected Services/LibraryServiceReference/Service32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55459/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LibraryApp.DataModel" />
  <xs:element name="MemberRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LibraryApp.DataModel" minOccurs="0" name="client" nillable="true" type="q1:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MemberRegisterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LibraryApp.DataModel" minOccurs="0" name="client" nillable="true" type="q2:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MemberLoginResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BranchListLoader">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BranchListLoaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="BranchListLoaderResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="authors" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="editure" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="copies" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddBookResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LibraryApp.DataModel" minOccurs="0" name="client" nillable="true" type="q3:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MemberRegisterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LibraryApp.DataModel" minOccurs="0" name="client" nillable="true" type="q4:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LibraryApp.DataModel" minOccurs="0" name="MemberLoginResult" nillable="true" type="q5:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LibraryApp.DataModel" minOccurs="0" name="client" nillable="true" type="q6:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditMemberResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LibraryApp.DataModel" minOccurs="0" name="client" nillable="true" type="q7:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMemberResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>