LibraryProject/LibraryApp/Connected Services/LibraryServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55459/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55459/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55459/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:55459/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LibraryApp.DataModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetBranches_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBranches" />
  </wsdl:message>
  <wsdl:message name="IService_GetBranches_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBranchesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="IService_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IService_BranchListLoader_InputMessage">
    <wsdl:part name="parameters" element="tns:BranchListLoader" />
  </wsdl:message>
  <wsdl:message name="IService_BranchListLoader_OutputMessage">
    <wsdl:part name="parameters" element="tns:BranchListLoaderResponse" />
  </wsdl:message>
  <wsdl:message name="IService_MemberRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:MemberRegister" />
  </wsdl:message>
  <wsdl:message name="IService_MemberRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:MemberRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IService_MemberLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:MemberLogin" />
  </wsdl:message>
  <wsdl:message name="IService_MemberLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:MemberLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService_BooksList_InputMessage">
    <wsdl:part name="parameters" element="tns:BooksList" />
  </wsdl:message>
  <wsdl:message name="IService_BooksList_OutputMessage">
    <wsdl:part name="parameters" element="tns:BooksListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditBook_InputMessage">
    <wsdl:part name="parameters" element="tns:EditBook" />
  </wsdl:message>
  <wsdl:message name="IService_EditBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditBookResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddBranch_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBranch" />
  </wsdl:message>
  <wsdl:message name="IService_AddBranch_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBranchResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetBranches">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetBranches" message="tns:IService_GetBranches_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetBranchesResponse" message="tns:IService_GetBranches_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/LogIn" message="tns:IService_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/LogInResponse" message="tns:IService_LogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Register" message="tns:IService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RegisterResponse" message="tns:IService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BranchListLoader">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/BranchListLoader" message="tns:IService_BranchListLoader_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/BranchListLoaderResponse" message="tns:IService_BranchListLoader_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MemberRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/MemberRegister" message="tns:IService_MemberRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/MemberRegisterResponse" message="tns:IService_MemberRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MemberLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/MemberLogin" message="tns:IService_MemberLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/MemberLoginResponse" message="tns:IService_MemberLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BooksList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/BooksList" message="tns:IService_BooksList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/BooksListResponse" message="tns:IService_BooksList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EditBook" message="tns:IService_EditBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EditBookResponse" message="tns:IService_EditBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBranch">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddBranch" message="tns:IService_AddBranch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddBranchResponse" message="tns:IService_AddBranch_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBranches">
      <soap:operation soapAction="http://tempuri.org/IService/GetBranches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://tempuri.org/IService/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BranchListLoader">
      <soap:operation soapAction="http://tempuri.org/IService/BranchListLoader" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberRegister">
      <soap:operation soapAction="http://tempuri.org/IService/MemberRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberLogin">
      <soap:operation soapAction="http://tempuri.org/IService/MemberLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BooksList">
      <soap:operation soapAction="http://tempuri.org/IService/BooksList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditBook">
      <soap:operation soapAction="http://tempuri.org/IService/EditBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBranch">
      <soap:operation soapAction="http://tempuri.org/IService/AddBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:55459/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>